/* Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #bd5d38;
  --secondary-color: #868e96;
  --gray-dark: #343a40;
  --side-nav-width: 15rem;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: var(--secondary-color);

  /* Configura a margem para que não entre dentro do Nav */
  padding-top: 100px;

  /* Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Parágrafo genérico */
p {
  line-height: 1.5rem;
}

h1 {
  font-size: 4rem;
  color: var(--gray-dark);
  margin: 0;
  line-height: 4.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

h2 {
  color: var(--gray-dark);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 3rem;
}

/* Aparência para um link */
.link {
  text-decoration: none;
  color: var(--primary-color);
}

/* Listas */
.row-list {
  margin: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.column-list {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

/* ------ */

/* Navbar */
#top-nav {
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  height: 35px;

  /* Configurando para sempre ficar no topo */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* O valor do z-index pode ser ajustado conforme necessário */
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;

  &:hover {
    color: white;
  }
}

/* ------ */

/* Conteúdo da página */
#contents {
  margin: 0;
  margin-block: 1rem;
  padding: 0;
}

#contents>section {
  padding: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.subheading {
  margin: 0;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 1rem 3rem;

  &>div {
    padding-inline: 2rem;
  }
}

.card .content {
  color: var(--gray-dark);
  padding: 0;

  &>h3 {
    margin: 0;
  }
}

.card .date {
  align-items: start;
  text-align: right;
  text-transform: capitalize;
  color: var(--primary-color);
}

/* ---- */

/* Sobre */
#social-links>li {
  display: inline-block;
  margin-right: 0.5rem;
}

#social-links .social-link {
  display: flex;
  text-decoration: none;
  background-color: var(--gray-dark);
  border-radius: 50%;
  padding: 1rem;

  &:hover {
    background-color: var(--primary-color);
  }
}

/* ---- */

/* Portfólio */
#portfolio .subheading {
  margin-bottom: 1rem;
}

#portfolio .card {
  margin-bottom: 2rem;
}

/* ------------- */

/* Contato */
form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  background-color: var(--gray-dark);
  color: #fff;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color);
  }
}